# .env.example 
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=Daily Stock Report Project
DART_API_KEY=
NOTION_TOKEN=
GOOGLE_API_KEY=
HUGGINGFACE_API_KEY=